# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# YOLO / experiment outputs
runs/
results/

# Large datasets
datasets/

# Model weights
*.pt
*.onnx

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db